@import url(Imports/main.css);



.paymentinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 6rem;
  padding: 20px;
  background-color: #393939;
  border-radius: 10px;
}

.buttons {
  align-items: center;
}

.primary-button {
  padding: 1.5rem 2rem;
}


@media (max-width: 1200px) {

    .paymentinfo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 6rem;
      flex-direction: column;
      padding: 20px;
      background-color: #393939;
      border-radius: 15px;
    }

  }
