@import url(Imports/main.css);

.wrapper-games {
    display: flex;
    flex-direction: row;
}

.checkboxes {
    padding-right: 4rem;
}

.container-games {
 
}


.checkboxes-system {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media (max-width: 1200px) {
    .wrapper-games {
        flex-direction: column;
    }
    
    .checkboxes {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}