footer{
    background-color: #393939;
    margin-top: auto;
    padding: 2rem;
    position: relative;
  }

  .footer-container{
    display: flex;
    justify-content: space-between;
  }

  .footer-logo{
    width: 5%;
  }

.footer-links ul {
    list-style: none; 
    padding: 0; 
}

.footer-links li {
    margin-bottom: 10px; 
}

.footer-links a {
    text-decoration: none; 
    color: white; 
    padding-right: 1rem;
}
